:root {
    /* --signature: rgb(25, 63, 255); */
    /* --signature: rgba(90, 118, 255, 0.692); */
    --signature: #f6584a;
    /* --highlight: rgb(230, 233, 255); */
    --sec: #010564;
    --tri: #00022E;
    --qua: #010564;
    

    --pri-txt: #00044d;
    /* --sec-txt: #3f43b4; */
    /* --pri-txt: #5a5a5a; */
    --sec-txt: #8f8e8e;
}







* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif */
}


.site-container {
    /* max-width: 70%; */
    /* min-width: 1282px; */
    /* max-width: 1282px; */
    margin: 0 auto;
    position: relative;
    margin-top: 0;

}

.banner {
    min-height: 46px;
    max-height: 46px;
    /* border-bottom: 1px solid #f6584a1e; */
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    box-shadow: 1px 1px 3px #c8c8c8;
}

.banner img {
    max-width: 100px;
    margin-left: 2em;
    /* margin-left: 5%; */
    margin-top: .6em;
}


/* ========================================================================== */
/* HEADER */
/* ========================================================================== */


header {
    height: 200px;
    width: 1160px;
    margin: 0 auto;
    /* margin-bottom: 4em; */
    border-bottom: 1px solid #f6584a1e;
    background-color: #fff;
    /* margin-top: 9em; */
}


.search-wrapper {
    /* width: 64.5%; */
    height: 100%;
    margin-top: 2.9em ;
    padding: 4em 2em 2em 2em;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 6em; */
}


.search-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-desc, .form-control {
    font-size: .8rem;
}

.search-col-1 {
    width: 40%;

}

.search-col-2 {
    width: 40%;
}

.search-col-3 {
    width: 15%;
}

.input-desc {
    color: #707070;
    margin: .2em 0 1em 0;
}

label {
    font-weight: bold;
    color: var(--signature);
}

.form-control {
    color: #AFAFAF;
    width: 100%;
    height: 40px;
    border: 1px solid #0084ff;
    /* border: 1px solid #f6584a98; */
    border-radius: 3px;
    padding-left: 1em;
}

.form-control:focus {
    border: 1px solid #f6584a98;

}


.search-btn {
    font-size: .68rem;
    letter-spacing: .15rem;
    font-weight: bold;
    height: 40px;
    color: #fff;
    background-color: #0084ff;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    margin-top: 4.8em;
}

.search-btn:hover {
    background-color: #1d92ff;
}


/* ========================================================================== */
/* MAIN NAV */
/* ========================================================================== */

.main-nav {
    border-right: 1px solid #f6584a1e;
    background-color: #fff;
    width: 202px;
    height: 1152.5px;
    /* height: 100vh; */
    position: absolute;
    top: -154px;
    left: -101px;
    padding-top: 1em;
}

.main-nav-row {
    font-size: .9rem;
    color: #494949;
    width: 100%;
    padding: .4em .7em;
    border-radius: 3px;

    display: flex;
    justify-content: space-between;
}

.main-nav-row:hover {
    color: #0084ff;
    /* background-color: #EFF0F1; */
    /* font-weight: bold; */
    /* border-color: var(--signature); */
    /* border-right: 4px solid var(--signature); */
    /* color: #fff; */
}

.selected-nav {
    color: #0084ff;
    background-color: #EFF0F1;
    font-weight: bold;
    border-right: 4px solid var(--signature);
}

.heading i {
    margin-right: .6em;
    /* color: var(--signature); */
    color: #ccc;
}

.count {
    font-size: .8rem;
    color: rgb(182, 182, 182);
}

.applied {
    display: none;
}

.no-display {
    display: none;
}





/* ========================================================================== */
/* SEARCH RESULTS PANE */
/* ========================================================================== */

/* width */
::-webkit-scrollbar {
    width: 5px ;
  }


  /* Track */
::-moz-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }


.pane-container {
    margin: 0 auto;
    max-width: 1360px;
    min-width: 1360px;
    height: 1000px;
    z-index: 1;
    position: relative;

    display: flex; 
    justify-content: center;
}

.loading-element {
    margin: .7em;
    font-size: .9rem;
    color: rgb(144, 144, 144);
    position: absolute;
    top: 370px;
    left: 265px;

    display: flex;
    /* align-items: center; */
}

.spinner-txt {
    margin-left: .5em;
}

.loading-element .spinner i {
    /* width: 27px; */
    margin-right: .5em;
    font-size: 1.2rem;
    color: var(--signature);

    margin: 0;
    padding: 0;



    /* transition: all .6s ease-in-out; */
    animation: rotate .7s infinite linear ;
    transform: rotate(360deg);
}

@keyframes rotate {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); } }


.hide {
    display: none;
}

.search-results {
    background-color: #fffcfb;
    /* height: 873px; */

    min-width: 439px;
    scrollbar-width: none;
    border-right: 1px solid #f6584a1e;
    /* border-left: 1px solid #f6584a1e; */
}

.sresults-desc {
    padding: 1.5em;
    font-size: .8rem;
    color: #f6584a81;
}

.sresults-row { 
    max-width: 410px;
    min-width: 410px;
    margin: .9em;
    border-radius: 5px;
    padding: 1em;

    display: flex;
    flex-direction: column;
    position: relative; 
}

.pri-row {
    margin-left: 4em;

    color: var(--pri-txt);
    font-size: 1rem;

    display: flex;
    justify-content: space-between;
}

.salary {
    color: var(--signature);
    font-size: .9rem;
    /* font-weight: bold; */
    /* color: #05E2BC; */
}

/* .sec-row {
    margin-left: 5em;
    margin-bottom: 2em;
    font-size: .79rem;
} */

.stat-row {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.days {
    font-size: .75rem;
    color: rgb(151, 151, 151);
}

.btn {
    background-color: #F5F7F9;
    padding: .25em .6em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn:hover {
    background-color: var(--signature);
    color: #fff;
    border-color: var(--signature);
}

.sresults-row .btn {
    margin-right: .32em;
}


.sresults-row:hover {
    background-color: #0084ff0c;
    /* background-color: #fff5f2; */
}

.logo {
    /* background-color: #ffbb00; */
    /* padding: .6rem; */
    border-radius: .3rem;
    /* box-shadow: 0px 1px 2px #ccc; */
}

.c-logo {
    position: absolute;
    display: flex;
}

.c-logo img {
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    box-shadow: 0px 1px 2px #ccc;
    border-radius: .2rem;


}

.status {
    position: absolute;
    top: -14px;
    left: 245px;
    display: flex;
    justify-content: flex-end;

    
}

.company-location {
    color: #0084ff;
    font-size: .8rem;
    margin-left: 5em;
}

.location-row {
    margin-left: 5em;
    font-size: .8rem;
    color: rgb(119, 119, 119);

}

.role {
    font-weight: bold;
    max-width: 240px;
}

.selected {
    background-color: var(--signature);
    border-color: var(--signature);
    color: #fff;
}




/* ========================================================================== */
/* PREVIEW PANE */
/* ========================================================================== */

.preview {
    max-width: 720px;
    min-width: 720px;
    /* min-height: 857px;
    max-height: 857px;  */
    background-color: #fff;
    padding: 3em;
    
    display: flex;
    flex-direction: column;
    
}

.preview-header {
    border-bottom: 1px solid #f6584a1e;
}

.preview-header ul {
    list-style-type: none;
    padding: 0;
}

.company {
 color: #0084ff;
 font-weight: bold;
}

.location {
    color: #777777;
}

.preview-body {
    height: 100%; 
    position: relative;
    padding-top: 1.5em;
    font-size: 1rem;
}

.preview-txt {
    margin-bottom: 2.5em;
    font-size: .95rem;
}

.job-logo {
    min-width: 75px;
    max-width: 75px;
    min-height: 75px;
    max-height: 75px;
    margin: 0 auto;
}

.job-logo img {
    border-radius: .2rem;
    box-shadow: 0px 1px 2px #ccc;

  width: 100%;
}

.preview-title-row { 
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    margin-bottom: .8em;
}

/* .view-btn-row {
    position: absolute;
    top: 460px;
    left: 208px;
} */

.btn-view {
    padding: .5em .6em;
    width: 15em;
    margin: 0 auto;
}

.preview-title-row .btn {
    margin-left: .7em;
} 


.job-title {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 320px;
}

.overview-title {
    font-size: 1rem;
    font-weight: 600; 
    margin-bottom: 1.3em; 
}

.stats-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.main-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.posted-row {
    color: rgb(151, 151, 151);
    font-size: .9rem;
}

.posted-row i {
    margin-right: .15em;
}

.span-txt {
    font-size: .85rem;
}

.icon-span {
    display: flex;
    justify-content: flex-end;
    max-height: 32px;
}


.i-wrapper {
    width: 36px;
    height: 35px;
    border: solid 2px #EDF1F8;
    padding: .9em;
    margin-left: .5em;
    min-width: 20px; 
    min-height: 20px;
    border-radius: .2em;
 
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-wrapper i {
    color: #EDF1F8
}

.posted {
    margin-bottom: 2em;
}


/* ========================================================================== */
/* FOOTER */
/* ========================================================================== */
footer {
    padding-top: 1.5em;
    height: 235px;
    background-color: #313538;
}

.footer-container {
    height: 100%;
    width: 61.8%;
    margin-left: 2em;
    /* margin: 0 auto; */
}

.footer-container img {
    min-width: 100px;
    max-width: 100px;
}

.footer-row {
    display: flex;
    align-items: center;
}

.copyright {
    font-size: .75rem;
    color: rgb(172, 172, 172);
    padding-left: 4em;
}